/* body, text and connect ul */
body {
  overflow-x: hidden;  
  overflow-y: overlay;  
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  transition: background-color .2s, color .2s;
}
::-webkit-scrollbar {
  display: none;
}
h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 3em;
  text-align: center;
}
h2 {
  font-size: 100px;
  text-align: left;
  margin: 0px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 20px;
}
h4 {
  font-size: 1.5em;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
ul {
  list-style-type: none;
}
/* topnav plus background color*/
body.dark-mode, body.dark-mode .topnav {
  background-color: #000;
  color: #C8C8C8;  
}
body.light-mode, body.light-mode .topnav {
  background-color: #ffffff;
  color: #000;  
}
body.dark-mode .topnav a {
  color: #C8C8C8;  
}
body.light-mode .topnav a {
  color: #000; 
}
.topnav-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #555;
}
.topnav {
  max-width: 1200px;
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .2s;
  background-color: white;
}
.topnav a {
  display: inline-block;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s;
  transition: background-color 0.3s;
}
.dark-mode .topnav a:hover {
  background-color: #201c1c;
}
.light-mode .topnav a:hover {
  background-color: #e8e4e4;
}

/* left middle and right section with icons */
.left-section{
  display: flex;
  text-align: right; /* Align content to the right */
  margin-left: 10px; /* Add margin to push it slightly away from the left */
  height: 40px;
}
#leftname {
  padding-top: 10px;
  height: auto;
  font-size: 19px;
}
.middle-section{
  display: flex;
  height: 40px;
}
.middle-section a{
  padding-top: 10px;
  height: auto;
}
.right-section{
  display: flex;
  justify-content: right;
  margin-right: 10px; /* Add margin to push it slightly away from the left */
  height: 40px;
}
#white-search, #black-search, #moon-image, #sun-image, #white-menu, #black-menu {
  height: 100%;
  width: 25px;
}
.dark-mode #black-search, .light-mode #white-search, .dark-mode #sun-image, .light-mode #moon-image, #white-menu, #black-menu {
  display: none;
}

/* mobile, topnav and menu */
@media (max-width: 750px) {
  h2 {
    font-size: 80px;
  }  
  .dark-mode #white-menu, .light-mode #black-menu  {
    display: block;
  }
  .dark-mode #black-menu, .light-mode #white-menu{
    display: none;
  }
  #myMenu.menu-show {
    opacity: 1;
    transition: opacity 0.3s ease, background-color 0.2s;
    pointer-events: auto; /* Enable pointer events when menu is shown */
  }
  #myMenu.menu-hide {
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.2s;
    pointer-events: none; /* Enable pointer events when menu is shown */
  }
  .middle-section {
    display: flex;
    height: 300%;
    flex-direction: column;
    position: absolute;
    top: 41px;
    justify-content: space-between; /* Space content evenly */
    transition: background-color 0.2s;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
    border-bottom: 1px solid rgb(85, 85, 85);
    position: absolute;
    left: 10px;
    right: 10px;
  }
  .dark-mode .topnav .middle-section a:not(:first-child) {
    border-top: 1px solid #201c1c;
  }
  .light-mode .topnav .middle-section a:not(:first-child) {
    border-top: 1px solid #e8e4e4;
  }
  .dark-mode .topnav .middle-section {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .light-mode .topnav .middle-section {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

#fader {
  position: fixed;
  top: 41;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: rgb(0, 0, 0);
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}
.light-mode #fader {
  background: rgb(255, 255, 255);
}

@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}