/* icons */
#github-icon, #youtube-icon, #instagram-icon, #tiktok-icon, #linkedin-icon, #linktree-icon {
    width: 24px;
    height: 24px; 
  }
  .dark-mode #github-icon {
    content: url('../assets/images/home/dark-github-icon.png');
  }
  .light-mode #github-icon {
    content: url('../assets/images/home/light-github-icon.png');
  }
  .dark-mode #youtube-icon {
    content: url('../assets/images/home/dark-youtube-icon.png');
  }
  .light-mode #youtube-icon {
    content: url('../assets/images/home/light-youtube-icon.png');
  }
  .dark-mode #instagram-icon {
    content: url('../assets/images/home/dark-instagram-icon.png');
  }
  .light-mode #instagram-icon {
    content: url('../assets/images/home/light-instagram-icon.png');
  }
  .dark-mode #tiktok-icon {
    content: url('../assets/images/home/dark-tiktok-icon.png');
  }
  .light-mode #tiktok-icon {
    content: url('../assets/images/home/light-tiktok-icon.png');
  }
  .dark-mode #linkedin-icon {
    content: url('../assets/images/home/dark-linkedin-icon.png');
  }
  .light-mode #linkedin-icon {
    content: url('../assets/images/home/light-linkedin-icon.png');
  }
  .dark-mode #linktree-icon {
    content: url('../assets/images/home/dark-linktree-icon.png');
  }
  .light-mode #linktree-icon {
    content: url('../assets/images/home/light-linktree-icon.png');
  }
  
.herorow {
    max-width: 1200px;
    display: flex;
  }

  .column-text {
    width: 70%;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0px;
    padding-top: 40px;  
  }
  .column-text h2 {
    padding: 20px;
    padding-left: 11px;
    padding-right: 0px;
    margin: 0px;    
  }
  .social-row {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .social-group {
    display: flex;
    gap: 12px;
  }
  .social-link {
    transition: transform 0.1s ease-in-out;
  }
  .social-link:hover {
    transform: scale(1.1);
  }
  @media (max-width: 750px) {
    .column-text {
      width: 100%;
      padding: 10px;
      text-align: center;
    }
    .column-text h2 {
      font-size: 75px;
      text-align: center;
    }
    .social-row, .social-group {
      justify-content: center;
      padding: 0px;
      margin-bottom: 10px;
    }
    .slideshow-container {
      width: 100%;
    }
    .herorow {
      flex-direction: column;
    }
  }