body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: monospace;
    color: rgb(31, 31, 31);
}

pre {
    font-size: 10px;
    line-height: 10px;
}
