/* body, text and connect ul */
body {
  overflow-x: hidden;  
  overflow-y: overlay;  
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  transition: background-color .2s, color .2s;
}
::-webkit-scrollbar {
  display: none;
}
h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 3em;
  text-align: center;
}
h2 {
  font-size: 140px;
  text-align: left;
  margin: 0px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 20px;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
ul {
  list-style-type: none;
}
.dark-mode .connect-container a{
  text-decoration: none;
  color: #C8C8C8;
}
.light-mode .connect-container a{
  text-decoration: none;
  color: #000000;
}

/* topnav plus background color*/
body.dark-mode, body.dark-mode .topnav {
  background-color: #000;
  color: #C8C8C8;  
}
body.light-mode, body.light-mode .topnav {
  background-color: #ffffff;
  color: #000;  
}
body.dark-mode .topnav a {
  color: #C8C8C8;  
}
body.light-mode .topnav a {
  color: #000; 
}
.topnav-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #555;
}
.topnav {
  max-width: 1200px;
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .2s;
  background-color: white;
}
.topnav a {
  display: inline-block;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s;
  transition: background-color 0.3s;
}
.dark-mode .topnav a:hover {
  background-color: #201c1c;
}
.light-mode .topnav a:hover {
  background-color: #e8e4e4;
}

/* left middle and right section with icons */
.left-section{
  display: flex;
  text-align: right; /* Align content to the right */
  margin-left: 10px; /* Add margin to push it slightly away from the left */
  height: 40px;
}
#leftname {
  padding-top: 10px;
  height: auto;
  font-size: 19px;
}
.middle-section{
  display: flex;
  height: 40px;
}
.middle-section a{
  padding-top: 10px;
  height: auto;
}
.right-section{
  display: flex;
  justify-content: right;
  margin-right: 10px; /* Add margin to push it slightly away from the left */
  height: 40px;
}
#white-search, #black-search, #moon-image, #sun-image, #white-menu, #black-menu {
  height: 100%;
  width: 25px;
}
.dark-mode #black-search, .light-mode #white-search, .dark-mode #sun-image, .light-mode #moon-image, #white-menu, #black-menu {
  display: none;
}

/* search bar and white line for connect */
.search-container {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}
.search-input {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width:90%;
  transition: background-color .2s, color .2s;
}
.dark-mode .search-input {
  border: 1px solid #C8C8C8;
  background-color: #000;
  color: #fff;
}
.light-mode .search-input {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000;
}
.dark-mode .white-container, .light-mode .white-container {
  max-width: 1300px;
  margin: 0 auto;
}
.dark-mode .white-line, .light-mode .white-line {
  width: 90%;
  margin: 0 auto;
  height: 1px;
}
.dark-mode .white-line {
  background-color: #C8C8C8;
}
.light-mode .white-line {
  background-color: #000000;
}

/* mobile, topnav and menu */
@media (max-width: 750px) {
  h2 {
    font-size: 100px;
  }  
  .dark-mode #white-menu, .light-mode #black-menu  {
    display: block;
  }
  .dark-mode #black-menu, .light-mode #white-menu{
    display: none;
  }
  #myMenu.menu-show {
    opacity: 1;
    transition: opacity 0.3s ease, background-color 0.2s;
  }
  #myMenu.menu-hide {
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.2s;
  }
  .middle-section {
    display: flex;
    height: 110px;
    flex-direction: column;
    position: absolute;
    top: 41px;
    justify-content: space-between; /* Space content evenly */
    transition: background-color 0.2s;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
    border-bottom: 1px solid rgb(85, 85, 85);
    position: absolute;
    left: 10px;
    right: 10px;
  }
  .dark-mode .topnav .middle-section a:not(:first-child) {
    border-top: 1px solid #201c1c;
  }
  .light-mode .topnav .middle-section a:not(:first-child) {
    border-top: 1px solid #e8e4e4;
  }
  .dark-mode .topnav .middle-section {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .light-mode .topnav .middle-section {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

/* grid and gallery items */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute items evenly */
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  padding: 3%;
}
.gallery {
  flex: 1 0 300px; /* Grow and shrink as needed, but don't go smaller than 200px */
  padding: 0px; /* Adjust as needed */
  text-align: center;
  box-sizing: border-box;
  border-radius: 2px;
}
.dark-mode .gallery {
  border: 1px solid #C8C8C8;
}
.light-mode .gallery {
  border: 1px solid #000000;
}
.gallery img {
  max-width: 100%;
  height: auto;
}
.dark-mode .gallery img {
  border-bottom: 1px solid #C8C8C8;
}
.light-mode .gallery img {
  border-bottom: 1px solid #000000;
}
.desc {
  margin: 5px;
  font-size: 14px;
}
@media (max-width: 750px) {
  .grid {
    max-width: none; /* Remove max-width to make it fluid at smaller screen sizes */
  }
  .gallery {
    flex: 1 1 48%; /* Make each item take up the full row on small screens */
  }
}

/* icons */
#github-icon, #youtube-icon, #instagram-icon, #tiktok-icon, #linkedin-icon, #linktree-icon {
  width: 24px;
  height: 24px; 
}
.dark-mode #github-icon {
  content: url('assets/images/home/dark-github-icon.png');
}
.light-mode #github-icon {
  content: url('assets/images/home/light-github-icon.png');
}
.dark-mode #youtube-icon {
  content: url('assets/images/home/dark-youtube-icon.png');
}
.light-mode #youtube-icon {
  content: url('assets/images/home/light-youtube-icon.png');
}
.dark-mode #instagram-icon {
  content: url('assets/images/home/dark-instagram-icon.png');
}
.light-mode #instagram-icon {
  content: url('assets/images/home/light-instagram-icon.png');
}
.dark-mode #tiktok-icon {
  content: url('assets/images/home/dark-tiktok-icon.png');
}
.light-mode #tiktok-icon {
  content: url('assets/images/home/light-tiktok-icon.png');
}
.dark-mode #linkedin-icon {
  content: url('assets/images/home/dark-linkedin-icon.png');
}
.light-mode #linkedin-icon {
  content: url('assets/images/home/light-linkedin-icon.png');
}
.dark-mode #linktree-icon {
  content: url('assets/images/home/dark-linktree-icon.png');
}
.light-mode #linktree-icon {
  content: url('assets/images/home/light-linktree-icon.png');
}

/* overlay */
#overlay {
  position: fixed; /* Cover the entire viewport */
  top: 41px; /* Start 40px from the top */
  display: block;
  width: 100%;
  height: calc(100% - 41px); /* Reduce the height of the overlay by 40px */
  transition: opacity 0.5s; /* Add transition effect */
  opacity: 1; /* Start with an opacity of 0 */
  pointer-events: none;
  z-index: 1000; 
}
.dark-mode #overlay {
  background-color: rgba(0,0,0,1);
}
.light-mode #overlay {
  background-color:#ffffff;
}

/* zig zag blocks, row length, shaded zig zag and connect page */
.row {
  max-width: 1200px;
}
.connect-content {
  margin: 0 auto; /* This centers the element horizontally */
  max-width: 1200px;
}
.background-2, .background-4 {
  transition: background-color 0.2s ease;
}
.dark-mode .background-2, .dark-mode .background-4 {
  background-color: rgb(22, 22, 22);
}
.light-mode .background-2, .light-mode .background-4 {
  background-color: rgb(245, 245, 245);
}
.container-1, .container-2, .container-3, .container-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* socials */
.social-row {
  padding-left: 20px;
  padding-bottom: 20px;
}
.social-group {
  display: flex;
  gap: 12px;
}
.social-link {
  transition: transform 0.1s ease-in-out;
}
.social-link:hover {
  transform: scale(1.1);
}

.column-featured {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}
.column-text {
  float: left;
  width: 70%;
  box-sizing: border-box;
  padding: 10px;
  padding-right: 0px;
  padding-top: 40px;
}
.column-text h2 {
  padding: 20px;
  padding-left: 11px;
  padding-right: 0px;
  margin: 0px;
}
@media (max-width: 750px) {
  .column-text,
  .column-featured{
    width: 100%;
  }
  .social-row, .social-group {
    justify-content: center;
  }
  .column-text {
    text-align: center;
  }
  .column-text h2{
    text-align: center;
  }
}
.column-featured-product {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each gallery item as needed */
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;

}
.dark-mode .column-featured-product {
  border: 1px solid #C8C8C8;
}
.light-mode .column-featured-product {
  border: 1px solid #000000;
}
.column-featured-product img{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.dark-mode .column-featured-product img {
  border: 1px solid #C8C8C8;
}
.light-mode .column-featured-product img {
  border: 1px solid #000000;
}
.dark-mode .filler {
  padding: 30px;
}
.light-mode .filler {
  padding: 30px;
}
/* Default styles for the columns */
.column-featured-text {
  float: left;
  width: 50%; /* Each column takes up one-third of the available space */
  box-sizing: border-box;
  padding: 30px;
  text-align: left;
}
/* Media query for screens less than 750px wide */
@media (max-width: 750px) {
  .column-featured-text {
    width: 100%; /* Set the width to 100% for small screens */
    text-align: center;
  }
  .column-featured-text h2{
    text-align: center;
  }
}

