body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: monospace;
    color: rgb(73, 73, 73);
}

pre {
    font-size: 15px;
    line-height: 15px;
}
